Package: stealth
Version: 0.1
Architecture: all
Maintainer: Alvaro Samudio
Installed-Size: 64
Depends: secure-delete, tor, i2p
Recommends: gtkdialog, socat, gufw, proxychains, openvpn
Suggests: vidalia
Section: net
Priority: optional
Description: script to return anonymous communications using tor and i2p
